<h1>
    {{title}}</h1>
<p>Welcome to {{title}}</p>

<div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3 mx-auto">
        <div id="success" class="alert alert-success" {{#if
            noMessages}}hidden{{/if}}>
            {{ successMsg }}
        </div>
    </div>
</div>

<div class="container">
    {{# each products}}

    <div class="row col-md-12 mt-5">
        {{# each this}}
        <div class="col-md-3">
            <div class="card gallery">
                <img class="card-img-top"
                    src="{{this.imagePath}}"
                    alt="Card image cap" class="img-responsive">
                <div class="card-body">
                    <h5 class="card-title text-center">{{this.title}}</h5>
                    <p class="card-text text-justify description">{{this.description}}</p>
                    <div class="clearfix form-inline">
                        <div class="price mr-auto">${{this.price}}</div>
                        <a href="/add-to-cart/{{this._id}}" class="btn
                            btn-danger float-right">Add</a>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    {{/each}}

</div>>